html {
    background-color: #ccc;
}

main.wrapper {
    background-color: #fff;
    overflow: auto;
    width: 55%;
    margin: auto;
}

h1>a {
    text-decoration: none;
    color: #000;
    font-family: 'Hacked';
}

.logo {
    color: red;
    margin-left: 1%;
    text-shadow: 1px 1px #ccc;
    font-size: 1.25em;
}

div.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin: auto;
    max-width: 98%;
}

div.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
    clear: both;
}

section {
    width: 60%;
    float: left;
}

aside {
    width: 38%;
    float: right;
}

img.washdogs {
    width: 60%;
    display: inline-block;
    padding: 50px;
}

img.error {
    float: left;
    width: 100%;
    display: inline-block;
}

p {
    font-size: 20px;
}

hr {
    height: 12px;
    background-color: bisque;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding-left: 150px;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {
    float: left;
    width: 20%;
}

ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px 14px 50px;
    text-decoration: none;
    transition: 0.3s;
    font-family: 'Hacked';
    font-size: 20px;
}

ul.topnav li a:hover {
    background-color: #555;
}

ul.topnav li.icon {
    display: none;
}

@font-face {
    font-family: Hacked;
    src: url(https://hackedfont.com/HACKED.ttf);
}

img.logo {
    display: inline-block;
    width: 10%;
}

h1 {
    width: 70%;
    display: inline;
}

h1 a {
    font-size: 2em;
}

section {
    padding-left: 20px;
}

#tabbox1 {
    border-radius: 25px;
    background: #73AD21;
    padding: 10px;
    display: inline-block;
    transition: width 0s;
    font-size: 15px;
    margin-left: 30px;
}

#tabbox1:hover {
    font-size: 20px;
    cursor: pointer;
}

.newsblocks {
    display: inline-block;
}

.newsblock h2 {
    text-align: center;
}
