.center-title {
    text-align: center;

  }

  .bg {
    background-color: lavender;
  }


.center-box {
    margin: auto;
    width: 60%;
    border: 3px solid green;
    padding: 10px;
    background: greenyellow;
    color: green;
  }


  .center-box1 {
    margin: auto;
    width: 60%;
    border: 3px solid blue;
    padding: 10px;
    background: powderblue;
    color: blue;
  }


  .center-box2 {
    margin: auto;
    width: 60%;
    border: 3px solid red;
    padding: 10px;
    background: pink;
    color: red;
  }


  .font-size {
    font-size: 20px;
  }

  .font-color{
      color: purple;
  }
